*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}
body
{
    background-color: #f5f5f5;
}

.long-line
{
    width: 18%;
    height: 3px;
    background-color: #0078ff;
}

.short-line
{
    width: 3%;
    height: 5px;
    background-color: #0078ff;
}

.text-color
{
    color: #454545;
}

.font
{
    font-weight:200;
    font-size:20;
}

/*===================================================== NAV BAR =============================================*/
nav
{
    background-color: rgba(0, 0, 0, 0.9);
}

nav a
{
    color: #ffffff !important;
    padding-left:10px !important;
    padding-bottom:10px !important;
    font-weight: 650;
}

.font-size 
{
    font-size: x-large !important;
}

nav ul li a
{
    font-size: large !important;
}

/*===================================================== HOME ==============================================*/

#home
{
    background-image: url(../images/hero-bg.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
 background-size: cover;
}

.overlay
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
  inset: 0;
  flex-direction: column;
  padding: 3rem;
  z-index: 2;
}
.overlay div
{
    text-align: center;
}

.overlay div h1
{
   font-size: 60;
}

.overlay p::after
{
    content:"";
    animation: typing 10s alternate infinite;
    font-size: 30;
}
@keyframes typing
{
   0%{content: "D";}
   1%{content: "De";}
   3%{content: "Des";}
   5%{content: "Desi";}
   7%{content: "Desig";}
   9%{content: "Design";}
   11%{content: "Designe";}
   13%{content: "Designer";}
   15%{content: "Design";}
   17%{content: "Desig";}
   19%{content: "Desi";}
   21%{content: "Des";}
   23%{content: "De";}
   25%{content: "Dev";}
   27%{content: "Deve";}
   29%{content: "Devel";}
   31%{content: "Develo";}
   33%{content: "Develop";}
   35%{content: "Develope";}
   37%{content: "Developer";}
   39%{content: "Develope";}
   41%{content: "Develope";}
   43%{content: "Develop";}
   45%{content: "Develo";}
   47%{content: "Devel";}
   49%{content: "Deve";}
   51%{content: "Dev";}
   53%{content: "De";}
   55%{content: "D";}
   57%{content: "";}
   59%{content: "F";}
   61%{content: "Fr";}
   63%{content: "Fre";}
   65%{content: "Free";}
   67%{content: "Freel";}
   69%{content: "Freela";}
   71%{content: "Freelan";}
   73%{content: "Freelanc";}
   75%{content: "Freelance";}
   77%{content: "Freelancer";}
   79%{content: "Freelance";}
   81%{content: "Freelanc";}
   83%{content: "Freelan";}
   85%{content: "Freela";}
   87%{content: "Freel";}
   89%{content: "Free";}
   91%{content: "Fre";}
   96%{content: "Fr";}
   99%{content: "F";}
   
}

.padding
{
    padding-left: 60px;
    padding-right: 60px;
}

/*================================================== SEVICES ==========================================*/



.ps-60
{
    padding-left: 55px !important;
}

.icons
{
    width: 100px;
    height: 100px;
    font-size: 30;
    font-weight: 100;
    padding-top: 25px;
    border-radius: 50%;
    margin: auto;
    border: 10px #0078ff solid !important;
    transition-duration: 1s;
}

.hover-icon:hover
{
    .icons { background-color: #0078ff ;
             border: 10px #b3cfef solid !important;
            color: aliceblue; }
    

}

.counter
{
    background-image: url(../images/counters-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.over-lay2
{
    background-color: rgba(15,106,200, 0.6);
    
}

.extra-style
{
    background-color: transparent !important;
    text-align: center;
    color: #ffffff;
}
.over-lay2 .icons
{
    border: 10px #ebe3e3 solid !important;
}

/*==============================  PORTFOLIO  ====================================*/

.btn-style
{
    background-color: transparent;
    color: rgb(0,120,255);
    border-radius: 10px solid rgb(0,120,255) ;
}

.portfolio-icons
{
    width: 50px;
    height: 50px;
    padding-top: 7px;
    padding-right: 12px;
    border-radius: 50%;
    margin: auto;
    border: 3px #0078ff solid !important;
}
.hover-scale img
{
    width: 100%;
    transition-duration: 1s;
}
.hover-scale:hover
{
   .img
   {transform: scale(1.2,1.2);}
}
/*=============================================== SLIDER ==============================*/
.overlay-bg
{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

.over-lay2
{
    background-color: rgba(9, 95, 182, 0.6);
    
}

.carousel-img
{
    width: 12%;
    padding-top: 30px;
    margin: auto;
    padding-top: 50px;
    margin-top: 50px;
    
}
.carousel-img img
{
    width: 100%;
    border-radius: 50%;
   
}

.caption
{
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
   
    margin-top: 40px;
}

.btn-style
{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    
}
/*=================================================== BLOG ==============================================*/
.W-20
{
    width: 20%;
}

.trns
{
    transform: translateY(-50%);
}
/*================================================ contact ==========================================*/
.pt-60
{
    padding-top: 60px;
}
.mt-60
{
    margin-top: 60px;
}

.icons-contact
{
    width: 50px;
    height: 50px;
    font-size: 20;
    font-weight: 100;
    padding-top: 5px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    border: 4px #386ba4 solid !important;
    transition-duration: 1s;
}

.hover-icon-contact:hover
{
    .icons-contact { background-color: #0078ff ;
             border: 4px #9cb6d4 solid !important;
             color: white !important; }
    

}

.form-input-border
{
   border: 1px solid rgb(214, 210, 210);
}

.hover-form-btn
{
    transition-duration: 1s;
    border: 5px solid transparent ;
}

.hover-form-btn:hover
{
    background-color: #4d9cf7!important;
    border: 5px solid #9cb6d4 !important;
}

footer
{
    background-color: rgba(15,106,200, 1);
}